body {
	background:url('../img/csbygb.png'); 
	color:white; 
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    text-decoration: underline;
}
a.post {
    text-decoration: none;
    color: red;
}
a.post:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:white;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color:white;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.index {
	color: white;
	background-color: rgba(192,192,192,0.3); /* defines opacity of background */	
}
/*
.container{
	color: white;
}
*/
.post{
	background-color: rgba(192,192,192,0.3);
  	color:white; 
    margin: 60px auto;
    width: 70%;
}