<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Ethical Hacker 🏳 |🏆 Pentest Ninja Award W.S Cyberjutsu | 🇨🇦 Top 20 Women in Cybersecurity #DoWeLookLikeHackers 🏳️‍🌈" >
    <meta name="keywords" content="cybersécurité, sécurité de l'information, femmes dans la cyber, WoSEC, Desjardins, Okiok, Radically Open Security, pentester, pentesting, pentest, Gabrielle B., cybersecurity, information security, infosec, pentest">
    <meta name="robots" content="index,follow" />
    <title>{{ page.title }}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
</head>
<body>
<div class="generalStyle">
<img style="width:100px" alt="Logo CSbyGB" src="/img/CSbyGB-logo.png"/>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
	    <li><a href="https://csbygb.gitbook.io/pentips/">CSbyGB - PenTips</a></li>
	    <li><a href="/podcasts.html">The World Tour Podcast</a></li>
	    <li><a href="/blog/atom.xml">RSS</a></li>
	    <li><a href="https://paypal.me/csbygb"><img src="/img/buymeatea.png" height="16" alt="Buy me a tea"></a></li>
        </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/gabriellebotbol/" target="_blank">Linkedin</a></li>
            <li><a href="https://twitter.com/Gabrielle_BGB" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/CSbyGB/csbygb.github.io" target="_blank">Github</a></li>
        </ul>
    </footer>

 </div>
</body>
</html>
