<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Ethical Hacker 🏳 |🏆 Pentest Ninja Award W.S Cyberjutsu | 🇨🇦 Top 20 Women in Cybersecurity #DoWeLookLikeHackers 🏳️‍🌈" >
  	<meta name="keywords" content="cybersécurité, sécurité de l'information ,femmes dans la cyber, WoSEC, Desjardins, Okiok, Radically Open Security, pentester, pentesting, pentest, Gabrielle Botbol, cybersecurity, information security, infosec, pentest">
    <meta name="robots" content="index,follow" />
    <title>{{ page.title }}</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/gabriellebotbol/">Linkedin</a></li>
            <li><a href="https://twitter.com/Gabrielle_BGB">Twitter</a></li>
        </ul>
    </footer>
</body>
</html>